@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1b1b1e;
}

.sec1 {
    height: auto;
}

.first-part {
    display: none;
}

.nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
}

.nav a {
    text-decoration: none;
    color: #7420ba;
    font-size: 23px;
    margin-bottom: 18px;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50px;
    text-align: center;
    padding: 15px 15px 15px 15px;
    gap: 5px;
    background: #7420ba;
    box-shadow: 0 8px 32px 0 #2f2f305e;
    backdrop-filter: blur(10px);
}

.home img {
    width: 30px;
}

.homediv p {
    display: none;
    ;
}

.second-part {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.otherdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.otherdiv img {
    width: 25px;
}

.otherdiv p {
    font-size: 22px;
}

.hr-custom {
    height: 1px;
    margin: 20px 30px 20px 30px;
}

.paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inconsolata", system-ui;
    margin-top: 50px;
}

.image {
    display: flex;
    justify-content: center;
}

.paragraph h1 {
    margin-top: 15px;
    font-size: 33px;
    color: #f1f1f1;
}

.paragraph h3 {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 700;
    color: #9d9d9d;
}

.image img {
    width: 200px;
}

.downloadcv {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    margin: 30px 60px 0 60px;
    text-decoration: none;
    color: #f1f1f1;
    font-size: 15px;
    background: #a537ff60;
    box-shadow: 0 8px 32px 0 #2f2f305e;
    backdrop-filter: blur(10px);
}

.sec2 {
    height: auto;
    margin-top: 50px;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f1f1f1;
    font-size: 16px;
    font-family: "Kanit", sans-serif;
}

.animation {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.animation.show {
    top: 0;
    opacity: 1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 50px 50px 20px 50px;
    padding: 30px 20px 30px 20px;
    gap: 5px;
    background: #393939a7;
    box-shadow: 0 8px 32px 0 #9d9d9da7;
    backdrop-filter: blur(10px);
}

.container h1 {
    font-size: 20px;
    color: #f1f1f1;
}

.container p {
    font-size: 12px;
    color: #9d9d9d;
}

.image-cont {
    margin-bottom: 5px;
}

.i {
    width: 60px;
}

.sec3 {
    height: auto;
    margin-top: 100px;
}

.two h1 {
    color: #9d9d9d;
    font-size: 20px;
    margin-top: 15px;
}

.two a {
    text-decoration: none;
    font-size: 15px;
    margin-top: 15px;
    color: #f1f1f1;
}

.gthub {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    margin: 30px 40px 0 40px;
    background: #a537ff60;
    box-shadow: 0 8px 32px 0 #2f2f305e;
    backdrop-filter: blur(10px);
    color: #f1f1f1;
}

.span-custom {
    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
}

.sec4 {
    height: 70vh;
    margin-top: 50px;
    background-color: #f1f1f1;
}

.wsec4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #000000;
    font-size: 20px;
    gap: 10px;
    font-family: "Inconsolata", system-ui;
    font-weight: 700;
}

.cert1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Kanit", sans-serif;
    margin: 20px 20px 50px 20px;
    gap: 20px;
    border: 1.5 solid #9d9d9d2e;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 8px 8px 8px #9d9d9d2e;
}

.cert1 h1 {
    font-size: 20px;
}

.cert1 a {
    text-decoration: none;
    color: #7420ba;
}

.image .cert1-image {
    width: 80px;
    height: 80px;
}

.information span {
    font-weight: 500;
}

.icon {
    width: 40px;
}

.footer {
    height: auto;
    background-color: #000000;
}

.footer h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
    font-size: 25px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-family: "Inconsolata", system-ui;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: #f1f1f1;
    font-size: 10px;
    margin-top: 50px;
    padding-bottom: 10px;
}

.footer img {
    width: 10px;
}

.separator {
    display: flex;
    flex-direction: row;
    color: #f1f1f1;
    font-size: 10px;
    gap: 3px;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}

.contacts a {
    text-decoration: none;
    color: #f1f1f1;
}

.ending {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #9d9d9d;
    font-size: 10px;
    gap: 10px;
    margin-top: 15px;
}

.go-up {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    border-radius: 100px;
    box-shadow: 8px 8px 10px #0000004d;
    z-index: 10;
    padding: 12px;
    background-color: #7420ba;
    opacity: 0.7;
}

.go-up img {
    width: 30px;
    height: 25px;
}

/*?----------------------------------------------*/

.sec2-skills {
    height: auto;
    margin-top: 50px;
}

.w-skills {
    color: #f1f1f1;
    font-size: 18px;
}

.w-skills-icon {
    filter: brightness(100%);
}

/* CAROUSEL
.sec3-skills {
    height: auto;
    background: #0000004d;
    transition: opacity 0.5s ease;
    overflow-x: hidden;
    display: none;
}

.imagecarousel {
    position: relative;
    display: flex;
    height: auto;
    width: fit-content;
    animation: bannermove 20s linear infinite;
}

.imagecarousel img {
    margin: 0 5rem 0 20rem;
    border-radius: 5px;
    width: 5rem;
}

.box_container {
    padding: 30px;
    overflow: hidden;
}

.cont {
    margin-right: 12rem;
}

@keyframes bannermove {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-33%);
    }

    100% {
        transform: translateX(-67%);
    }

}
*/

.sec4-skills {
    height: auto;
    margin-top: 50px;
}

.separator-skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.container-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #9d9d9d2e;
    border-radius: 30px;
    margin: 10px;
    padding: 5px 25px 5px 25px;
    gap: 5px;
    box-shadow: 5px 5px 20px #9d9d9d2e;
}

.container-skills h1 {
    font-size: 20px;
    color: #f1f1f1;
}

.i-skills {
    width: 60px;
}




/*! HOVER ------------------------------------------*/

.homediv a:hover {
    background-color: #9238dc;
}

.downloadcv:hover {
    background-color: #9238dc;
}

.gthub:hover {
    background-color: #9238dc;
    border: 2px solid #9238dc;
    color: #f1f1f1;
}



















/*! RESPONSIVE ------------------------------------------*/

@media only screen and (min-width: 1024px) {

    /*? NAVBAR ------------------------------------*/
    .first-part {
        display: flex;
    }

    .first-part h1 {
        font-size: 50px;
        font-weight: 700;
        color: #f1f1f1
    }

    .span-navbar {
        color: #7420ba;
    }

    .second-part {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .nav {
        gap: 15px;
        justify-content: space-between;
        background-color: #00000020;
        padding: 20px 60px 20px 60px;
        margin: 0;
    }

    .nav a {
        text-decoration: none;
        color: #7420ba;
        font-size: 30px;
        margin: 0;
    }

    .home img {
        width: 30px;
    }

    .home {
        padding: 10px 30px 10px 30px;
    }

    .homediv p {
        display: flex;
    }

    .otherdiv img {
        width: 30px;
    }

    .otherdiv p {
        font-size: 30px;
    }

    .otherdiv:hover {
        opacity: 0.8;
    }

    /*? PARAGRAPH ------------------------------------*/
    .paragraph h1 {
        margin-top: 15px;
        font-size: 50px;
    }

    .paragraph h3 {
        font-size: 30px;
    }

    .welcome {
        display: flex;
        flex-direction: row;
        font-size: 25px;
        gap: 6px;
    }

    /*? DOWNLOAD CV ------------------------------------*/
    .downloadcv {
        padding: 10px;
        margin: 30px 34rem 0 34rem;
        font-size: 25px;
    }

    /*? CONTAINERS ------------------------------------*/
    .dividerpc {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .container {
        margin: 100px 0 50px 0;
        padding: 25px 40px 25px 40px;
    }

    .container h1 {
        font-size: 30px;
    }

    .container p {
        font-size: 18px;
    }

    .i {
        width: 80px;
    }

    /*? GITHUB ------------------------------------*/
    .sec3 img {
        width: 300px;
        margin: 20px;
    }

    .two {
        margin-top: -80px;
    }

    .two h1 {
        font-size: 30px;
    }

    .two a {
        font-size: 25px;
    }

    .gthub {
        padding: 15px;
    }

    .span-custom {
        font-size: 30px;
    }

    /*? CERTIFICATES ------------------------------------*/
    .sec4 {
        height: 100vh;
    }

    .wsec4 {
        font-size: 35px;
    }

    .cert1 {
        margin: 20px 25rem 50px 25rem;
    }

    .cert1 h1 {
        font-size: 30px;
    }

    .information p {
        font-size: 20px;
    }

    .information a {
        font-size: 20px;
    }

    .image .cert1-image {
        width: 120px;
        height: 120px;
    }

    .icon {
        width: 60px;
    }

    /*? FOOTER ------------------------------------*/
    .contacts {
        flex-direction: column;
        gap: 10px;
    }

    .contacts a {
        font-size: 15px;
    }

    .ending {
        font-size: 16px;
    }

    .footer img {
        width: 15px;
    }

    .footer h1 {
        font-size: 30px;
    }

    /*? SKILLS ------------------------------------*/
    .hr-custom {
        margin: 20px 18rem 20px 18rem;
    }

    .separator-skills {
        flex-direction: row;
    }

    .container-skills {
        flex-direction: column;
        gap: 25px;
        margin: 10px 20px 30px 50px;
        padding: 25px 65px 25px 65px;
    }

    .container-skills h1 {
        font-size: 30px;
    }

    .i-skills {
        width: 100px;
    }
}



@media only screen and (max-width: 380px) {

    /*? NAVBAR ------------------------------------*/
    .nav {
        gap: 20px;
        margin: 20px 30px 20px 30px;
        background: #1b1b1ecc;
        box-shadow: 0 8px 32px 0 #2f2f305e;
        backdrop-filter: blur(10px);
    }

    .nav a {
        font-size: 20px;
    }

    .home img {
        width: 20px;
    }

    .otherdiv {
        flex-direction: column;
        gap: 0;
    }

    .otherdiv img {
        width: 20px;
    }

    .otherdiv p {
        font-size: 20px;
    }

    /*? PARAGRAPH ------------------------------------*/
    .paragraph h1 {
        font-size: 28px;
    }

    .paragraph h3 {
        font-size: 20px;
    }

    .welcome {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    /*? DOWNLOAD CV ------------------------------------*/
    .downloadcv {
        padding: 8px;
        font-size: 16px;
    }

    /*? CONTAINERS ------------------------------------*/
    .container {
        margin: 30px 30px 0px 30px;
        padding: 20px 25px 20px 25px;
    }

    .container h1 {
        font-size: 20px;
    }

    .container p {
        font-size: 12px;
    }

    .i {
        width: 50px;
    }

    /*? GITHUB ------------------------------------*/
    .sec3 img {
        width: 150px;
        margin: 20px;
    }

    .two {
        margin-top: -30px;
    }

    .two h1 {
        font-size: 18px;
    }

    .two a {
        font-size: 15px;
    }

    .gthub {
        padding: 10px;
    }

    .span-custom {
        font-size: 20px;
    }

    /*? CERTIFICATES ------------------------------------*/
    .sec4 {
        height: 100vh;
    }

    .wsec4 {
        font-size: 20px;
    }

    .cert1 {
        margin: 10px 2rem 30px 2rem;
    }

    .cert1 h1 {
        font-size: 20px;
    }

    .information p {
        font-size: 16px;
    }

    .information a {
        font-size: 16px;
    }

    .image .cert1-image {
        width: 50px;
        height: 50px;
    }

    .icon {
        width: 30px;
    }

    /*? FOOTER ------------------------------------*/
    .contacts {
        flex-direction: column;
        gap: 5px;
    }

    .contacts a {
        font-size: 10px;
    }

    .ending {
        font-size: 8px;
    }

    .footer img {
        width: 10px;
    }

    .footer h1 {
        font-size: 25px;
    }
}



@media only screen and (min-width: 700px) and (max-width: 1024px) and (orientation: portrait) {

    /*? NAVBAR ------------------------------------*/
    .first-part {
        display: none;
    }

    .nav {
        gap: 60px;
        margin: 30px 30px 20px 30px;
        background-color: #00000000;
    }

    .nav a {
        font-size: 50px;
    }

    .home img {
        width: 50px;
    }

    .otherdiv {
        flex-direction: row;
        gap: 10px;
    }

    .otherdiv img {
        width: 40px;
    }

    .otherdiv p {
        font-size: 40px;
    }

    /*? PARAGRAPH ------------------------------------*/
    .image img {
        width: 250px;
    }

    .paragraph h1 {
        font-size: 60px;
    }

    .paragraph h3 {
        font-size: 40px;
    }

    .welcome {
        display: flex;
        flex-direction: column;
        font-size: 35px;
    }

    /*? DOWNLOAD CV ------------------------------------*/

    .downloadcv {
        border: 3px solid #7420ba;
        padding: 20px;
        margin: 40px 15rem 0 15rem;
        font-size: 30px;
    }

    /*? CONTAINERS ------------------------------------*/
    .dividerpc {
        flex-direction: column;
    }

    .container {
        margin: 50px 10px 30px 10px;
        padding: 40px 85px 40px 85px;
        gap: 10px;
        border-radius: 60px;
    }

    .container h1 {
        font-size: 35px;
    }

    .container p {
        font-size: 25px;
    }

    .i {
        width: 100px;
    }

    /*? GITHUB ------------------------------------*/
    .sec3 img {
        width: 300px;
        margin: 20px;
    }

    .two {
        margin-top: -50px;
    }

    .two h1 {
        font-size: 38px;
    }

    .two a {
        font-size: 35px;
    }

    .gthub {
        border: 3px solid #9238dc;
        padding: 20px;
    }

    .span-custom {
        font-size: 42px;
    }

    /*? CERTIFICATES ------------------------------------*/
    .sec4 {
        height: 70vh;
    }

    .wsec4 {
        font-size: 40px;
    }

    .cert1 {
        margin: 20px 4rem 60px 4rem;
    }

    .cert1 h1 {
        font-size: 40px;
    }

    .information p {
        font-size: 30px;
    }

    .information a {
        font-size: 30px;
    }

    .image .cert1-image {
        width: 100px;
        height: 100px;
    }

    .icon {
        width: 60px;
    }

    /*? FOOTER ------------------------------------*/
    .contacts {
        flex-direction: column;
        gap: 10px;
    }

    .contacts a {
        font-size: 20px;
    }

    .ending {
        font-size: 18px;
    }

    .footer img {
        width: 20px;
    }

    .footer h1 {
        font-size: 45px;
    }

    /*? SKILLS ------------------------------------*/
    .hr-custom {
        margin: 30px 5rem 20px 5rem;
    }

    .separator-skills {
        flex-direction: row;
    }

    .container-skills {
        flex-direction: column;
        margin: 20px 0 20px 0;
        gap: 15px;
    }

    .container-skills h1 {
        font-size: 35px;
    }

    .i-skills {
        width: 130px;
    }
}








@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #1b1b1e;
    overflow: hidden;
    z-index: -10;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 29%;
    width: 162px;
    height: 162px;
    bottom: -162px;
    animation-delay: 1s;
}

.background li:nth-child(1) {
    left: 65%;
    width: 135px;
    height: 135px;
    bottom: -135px;
    animation-delay: 3s;
}

.background li:nth-child(2) {
    left: 47%;
    width: 166px;
    height: 166px;
    bottom: -166px;
    animation-delay: 3s;
}

.background li:nth-child(3) {
    left: 75%;
    width: 147px;
    height: 147px;
    bottom: -147px;
    animation-delay: 1s;
}

.background li:nth-child(4) {
    left: 4%;
    width: 122px;
    height: 122px;
    bottom: -122px;
    animation-delay: 14s;
}

.background li:nth-child(5) {
    left: 49%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 7s;
}

.background li:nth-child(6) {
    left: 39%;
    width: 179px;
    height: 179px;
    bottom: -179px;
    animation-delay: 11s;
}

.background li:nth-child(7) {
    left: 0%;
    width: 166px;
    height: 166px;
    bottom: -166px;
    animation-delay: 30s;
}

.background li:nth-child(8) {
    left: 10%;
    width: 230px;
    height: 230px;
    bottom: -230px;
    animation-delay: 6s;
}

.background li:nth-child(9) {
    left: 69%;
    width: 153px;
    height: 153px;
    bottom: -153px;
    animation-delay: 39s;
}

.background li:nth-child(10) {
    left: 34%;
    width: 167px;
    height: 167px;
    bottom: -167px;
    animation-delay: 27s;
}

.background li:nth-child(11) {
    left: 54%;
    width: 183px;
    height: 183px;
    bottom: -183px;
    animation-delay: 43s;
}

.background li:nth-child(12) {
    left: 58%;
    width: 165px;
    height: 165px;
    bottom: -165px;
    animation-delay: 37s;
}

.background li:nth-child(13) {
    left: 15%;
    width: 128px;
    height: 128px;
    bottom: -128px;
    animation-delay: 11s;
}

.background li:nth-child(14) {
    left: 23%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 69s;
}

.background li:nth-child(15) {
    left: 80%;
    width: 135px;
    height: 135px;
    bottom: -135px;
    animation-delay: 43s;
}

.background li:nth-child(16) {
    left: 62%;
    width: 153px;
    height: 153px;
    bottom: -153px;
    animation-delay: 6s;
}

.background li:nth-child(17) {
    left: 63%;
    width: 129px;
    height: 129px;
    bottom: -129px;
    animation-delay: 37s;
}

.background li:nth-child(18) {
    left: 20%;
    width: 103px;
    height: 103px;
    bottom: -103px;
    animation-delay: 45s;
}

.background li:nth-child(19) {
    left: 40%;
    width: 227px;
    height: 227px;
    bottom: -227px;
    animation-delay: 58s;
}

.background li:nth-child(20) {
    left: 77%;
    width: 211px;
    height: 211px;
    bottom: -211px;
    animation-delay: 92s;
}

.background li:nth-child(21) {
    left: 77%;
    width: 145px;
    height: 145px;
    bottom: -145px;
    animation-delay: 87s;
}

.background li:nth-child(22) {
    left: 40%;
    width: 230px;
    height: 230px;
    bottom: -230px;
    animation-delay: 48s;
}

.background li:nth-child(23) {
    left: 42%;
    width: 148px;
    height: 148px;
    bottom: -148px;
    animation-delay: 33s;
}

.background li:nth-child(24) {
    left: 1%;
    width: 131px;
    height: 131px;
    bottom: -131px;
    animation-delay: 59s;
}

.background li:nth-child(25) {
    left: 4%;
    width: 212px;
    height: 212px;
    bottom: -212px;
    animation-delay: 73s;
}